* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --yellow-extra-dark: #2C2B1E;
  --yellow-middle-dark: #5F5C38;
  --yellow-dark: #938D3A;
  --yellow-principal: #FAEC1A;
  --yellow-middle: #FFFEEB;
  --yellow-light: #FFFEEB;

  --green-extra-dark: #141E17;
  --green-middle-dark: #193021;
  --green-dark: #1C4A2D;
  --green-principal: #16843D;
  --green: #528F68;
  --green-middle: #B5D8C1;
  --green-light: #E1EEE6;

  --white: #ffffff;

}

body {
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
}

/* --------------------------------------- HEADER --------------------------------------- */
.header-banner {
    background-color: var(--yellow-principal);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-transform: uppercase;
    align-items: center;
    padding-right: 25px;
    height: 28px;
    font-size: 13.6px;
}

p.header-banner {
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.9px;
}

img.header-phone {
    width: 32px;
    padding: 5px 5px 6px 15px;
}

img.header-celphone {
    width: 34px;
    padding: 5px 2px 8px 15px;
}

.header-menu {
    background-color: var(--green-principal);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-transform: uppercase;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

img.logo {
    width: 85px;
    margin-left: 160px;
}

.menu-options {
    display: flex;
    flex-direction: row;
    margin-right: 160px;
    color: var(--white);
}

a.menu {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}

p.menu {
    padding-right: 50px;

}

div.detail {
    background-color: var(--yellow-principal);
    width: 100%;
    height: 1px;
}

/* ------------------------------------ BODY / SECTION ------------------------------------ */
/* ------------------------------------ BANNER - APP ------------------------------------- */

div.banner-app {
    position: absolute;
    
}
img.banner-app {
    /*height: 900px;*/
    width: 100vw;
}

div.text-banner-app {
    position: relative;
    top: 0;
    right: 0;
    margin-left: 52%;
    margin-right: 45px;
}
h1.banner-app {
    font-size: 65px;
    padding-top: 245px;
    color: #141E17;
    
}

.logo-rt {
    text-align: end;
    margin-right: 85px;
    padding-top: 35px;
}

img.logo-rt {
    position: relative;
    width: 135px;
}

/* ---------------------------------- APP INFORMATION ----------------------------------- */
div.information {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--yellow-middle);
    color: var(--green-extra-dark);
}

p.information-taxi {
    font-size: 40px;
    margin-top: 260px;
    margin-left: 162px;
}

img.illustration {
    width: 500px;
    margin-right: 162px;
    margin-top: 185px;
    padding-bottom: 50px;
}

div.app-store {
    padding-top: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yellow-middle);
    color: var(--green-extra-dark);
}

h2.links-app {
    text-transform: uppercase;
}

img.links-app {
    padding: 30px;
    padding-top: 50px;
    margin-bottom: 100px;
}

img.img02 {
    width: 320px;
}

/* --------------------------------------- POSTO --------------------------------------- */

div.gas-station {
    /*position: absolute;*/
}

div.detail-gas-station {
    width: 100%;
    height: 15px;
    
}

.green {
    background-color: var(--green-principal);
    
}

.yellow {
    background-color: var(--yellow-principal);
}

div.container-gas-station {
    display: flex;
    align-items: center;
    flex-direction: row;
}

img.br-logo {
    width: 110px;
    margin-left: 180px;
    /*position: relative;
    top:0;
    left: 0;*/
}

h2.gas-station {
    font-size: 35px;
    color: var(--green-extra-dark);
    margin-left: 110px;
    text-transform: uppercase;
}

/* ------------------------------------- QUEM SOMOS ------------------------------------ */
.body-who-we-are {
    margin: 80px 160px 100px;
    display: flex;
}

h1.title-who-we-are {
    font-size: 45px;
    text-transform: uppercase;
    color: var(--green-dark);
    margin-top: 115px;
    text-indent: 250px
}

p.who-we-are {
    font-size: 28px;
    color: var(--green-extra-dark);
    line-height: 45px;
    text-indent: 90px;
    text-align: justify;
    margin-right: 45px;
}

img.history {
    width: 570px;
    margin-bottom: 10px;
}




/* --------------------------------------- FOOTER --------------------------------------- */

footer {
    background-color: var(--green-principal);
    color: var(--white);    
}

div.box-contact {
    margin-left: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

div.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px 30px 0px;
}

p.text {
    padding-bottom: 5px;
}

p.title {
    margin-bottom: 20px;
    font-size: 23px;
}

div.phone {
    margin-right: 100px;
}

div.social-medias {
    margin: 30px 180px 50px 30px;
}

img.link-social-media {
    width: 50px;
    margin: 25px;
}

p.title {
    font-weight: 600;
}

div.filial {
    margin-top: 45px;
    margin-left: 100px;
}

div.detail-footer {
    background-color: var(--yellow-principal);
    width: 100%;
    height: 0.7px;
}

div.copyrigth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}