* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --yellow-extra-dark: #2C2B1E;
  --yellow-middle-dark: #5F5C38;
  --yellow-dark: #938D3A;
  --yellow-principal: #FAEC1A;
  --yellow-middle: #FFFEEB;
  --yellow-light: #FFFEEB;

  --green-extra-dark: #141E17;
  --green-middle-dark: #193021;
  --green-dark: #1C4A2D;
  --green-principal: #16843D;
  --green-middle: #B5D8C1;
  --green-light: #E1EEE6;

  --white: #ffffff;

}

/* --------------------------------------- HEADER --------------------------------------- */
.header-banner {
    background-color: var(--yellow-principal);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-transform: uppercase;
    align-items: center;
    padding-right: 25px;
    height: 28px;
    font-size: 13.6px;
}

p.header-banner {
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.9px;
}

img.header-phone {
    width: 32px;
    padding: 5px 5px 6px 15px;
}

img.header-celphone {
    width: 34px;
    padding: 5px 2px 8px 15px;
}

.header-menu {
    background-color: var(--green-principal);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-transform: uppercase;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

img.logo {
    width: 85px;
    margin-left: 160px;
}

.menu-options {
    display: flex;
    flex-direction: row;
    margin-right: 160px;
    color: var(--white);
}

a.menu {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}

p.menu {
    padding-right: 50px;

}


/* --------------------------------------- BODY / SECTION --------------------------------------- */






/* --------------------------------------- FOOTER --------------------------------------- */

footer {
    background-color: var(--green-principal);
    color: var(--white);    
}

.box-contact {
    margin-left: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-medias {
    margin-right: 160px;
}