<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/style.css">
    <title>Coocaver</title>
</head>

<body>
    <header>
        <div class="header-banner">
            <p class="header-phone">Peça seu táxi:</p>
            <img class="header-phone" src="/public/img/icon/phone.svg" alt="celphone-icon">
            <p>(54)3028.9800 &bull; (54)3211.4141</p>
            <img class="header-celphone" src="/public/img/icon/celphone.svg" alt="celphone-icon">
            <p class="header-celphone">baixe nosso aplicativo</p>
        </div>

        <div class="header-menu">
            <div class="logo">
                <img class="logo" src="/public/img/logo/logo-coocaver.png" alt="logo-coocaver" srcset="">
            </div>
            <div class="menu-options">
                <a class="menu" href="" target="_blank"><p class="menu">quem somos</p></a>
                <a class="menu" href="" target="_blank"><p class="menu">central de táxi</p></a>
                <a class="menu" href="" target="_blank"><p class="menu">aplicativo</p></a>
                <a class="menu" href="" target="_blank"><p class="menu">postos</p></a>
                <a class="menu" href="" target="_blank"><p class="menu">contato</p></a>
            </div>
        </div>
    </header>

    <section class="body">

    </section>

    <footer>        

    </footer>
     
</body>
</html>