<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style/style.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Coocaver</title>
  </head>

  <body class="body-contact">
    <header>
      <div class="header-banner">
        <p class="header-banner">Peça seu táxi:</p>
        <img
          class="header-phone"
          src="/public/img/icon/phone.svg"
          alt="celphone-icon"
        />
        <p class="header-banner">(54)3028.9800 &bull; (54)3211.4141</p>
        <img
          class="header-celphone"
          src="/public/img/icon/celphone.svg"
          alt="celphone-icon"
        />
        <p class="header-banner">baixe nosso aplicativo</p>
      </div>

      <div class="header-menu">
        <div class="logo">
          <a href="/views/home.html"
            ><img
              class="logo"
              src="/public/img/logo/logo-coocaver.png"
              alt="logo-coocaver"
          /></a>
        </div>
        <div class="menu-options">
          <a class="menu" href="/views/quem-somos.html"
            ><p class="menu">quem somos</p></a
          >
          <a class="menu" href="/views/taxi.html"
            ><p class="menu">central de táxi</p></a
          >
          <a class="menu" href="/views/posto.html"
            ><p class="menu">postos</p></a
          >
          <a class="menu" href="/views/contato.html"
            ><p class="menu">contato</p></a
          >
        </div>
      </div>
      <div class="detail"></div>
    </header>

    <section class="contact">

      <div class="adress-item">
        <div class="box-adress">
          <h2 class="adress">Coocaver Matriz</h2>
          <p class="detail-adress"></p>
          <p class="adress">Rua Cristóforo Randon, 887</p>
          <p class="adress">Bairro Marechal Floriano</p>
          <p class="adress">Caxias do Sul - RS</p>
          <p class="adress">Telefone: (54) 3028.9700</p>

          <h3 class="adress">Horário de atendimento</h3>
          <p class="adress">Atendimento do Posto: 24h</p>
          <p class="adress">
            Setor administrativo: de segunda à sexta das 8h às 12h e das 13h às
            17:45h
          </p>
          <p class="adress">
            Troca de óleo: de segunda à sexta das 8h às 12h e das 13:30h às
            17:30h, sábado das 8h às 12h
          </p>
        </div>

        <div class="maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2463.6130943493945!2d-51.197327382251416!3d-29.162460573479823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951ea2deab28d319%3A0x17e8b8e970174946!2sCooperativa%20de%20Consumo%20dos%20Cond%20Aut%20de%20Veic%20Rodov%20de%20Caxias%20do%20Sul!5e0!3m2!1spt-BR!2sbr!4v1687272034121!5m2!1spt-BR!2sbr"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>

      <div class="adress-item">
        <div class="box-adress">
          <h2 class="adress">Coocaver Filial</h2>
          <p class="detail-adress"></p>
          <p class="adress">
            Rua Desembargador José Bernado de Medeiros Júnior, 1276
          </p>
          <p class="adress">Bairro De Lazzer</p>
          <p class="adress">Caxias do Sul - RS</p>
          <p class="adress">Telefone: (54) 3028.9710</p>

          <h3 class="adress">Horário de atendimento</h3>
          <p class="adress">
            Atendimento do Posto: de segunda à sábado das 7h às 20h
          </p>
          <p class="adress">
            Troca de óleo: de segunda à sexta das 8h às 12h e das 13:30h às
            17:30h, sábado das 8h às 12h
          </p>
          <p class="adress">
            Oficina do taximetro: de segunda à sexta das 8h às 12h e das 13:30h, sábado das 8h às 12h
            às 17:30h
          </p>
        </div>

        <div class="maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d307.98899649581705!2d-51.14964255601694!3d-29.150001746743374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951ebd1d155555a1%3A0xc39291d54722128f!2sPosto%20Petrobr%C3%A1s%20-%20De%20Lazzer!5e0!3m2!1spt-BR!2sbr!4v1687272172469!5m2!1spt-BR!2sbr"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>

      <div class="adress-item">
        <div class="box-adress">
          <h2 class="adress">Táxi Coocaver</h2>
          <p class="detail-adress"></p>
          <p class="adress">Atendimento 24h</p>
          <p class="adress">Telefone: (54) 3028.9800</p>
          <p class="adress">Telefone: (54) 3211.4141</p>
        </div>
      </div>

    </section>

    <footer></footer>
  </body>
</html>
