<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style/style.css" />
    <title>Coocaver</title>
  </head>

  <body>
    <header>
      <div class="header-banner">
        <p class="header-banner">Peça seu táxi:</p>
        <img
          class="header-phone"
          src="/public/img/icon/phone.svg"
          alt="celphone-icon"
        />
        <p class="header-banner">(54)3028.9800 &bull; (54)3211.4141</p>
        <img
          class="header-celphone"
          src="/public/img/icon/celphone.svg"
          alt="celphone-icon"
        />
        <p class="header-banner">baixe nosso aplicativo</p>
      </div>

      <div class="header-menu">
        <div class="logo">
          <a href="/views/home.html"
            ><img
              class="logo"
              src="/public/img/logo/logo-coocaver.png"
              alt="logo-coocaver"
              srcset=""
          /></a>
        </div>
        <div class="menu-options">
          <a class="menu" href="" target="_blank"
            ><p class="menu">quem somos</p></a
          >
          <a class="menu" href="" target="_blank"
            ><p class="menu">central de táxi</p></a
          >
          <a class="menu" href="" target="_blank"
            ><p class="menu">aplicativo</p></a
          >
          <a class="menu" href="" target="_blank"><p class="menu">postos</p></a>
          <a class="menu" href="" target="_blank"
            ><p class="menu">contato</p></a
          >
        </div>
      </div>
    </header>

    <section class="body">
      <div class="banner-app">
        <a class="banner-app" href="/views/aplicativo.html"
          ><img
            class="banner-app"
            src="/public/img/banners/img-banner-01.jpg"
            alt="imagem de uma mulher com o celular na mão"
        /></a>
      </div>
      <div class="text-banner-app">
        <h1 class="banner-app">
          Com o aplicativo da Coocaver você tem praticidade e a segurança de um
          serviço de qualidade!
        </h1>
      </div>
      <div class="logo-rt">
        <img
          class="logo-rt"
          src="/public/img/logo/LOGO RADIO TAXI REGISTRADO.png"
          alt="logo marca da central de táxi"
        />
      </div>

      <div class="information">
        <p class="information-taxi">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda,
          sint, consectetur perferendis placeat repellendus voluptatibus quasi
          at sunt ea nostrum alias blanditiis unde animi quidem voluptas
          explicabo sequi voluptatem tempore Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda,
          sint, consectetur perferendis placeat repellendus voluptatibus quasi
          at sunt ea nostrum alias blanditiis unde animi quidem voluptas
          explicabo sequi voluptatem tempore.
        </p>
        <img class="illustration"
          src="/public/img/figures/undraw_mobile_ux_re_59hr.svg"
          alt="ilustração de uma pessoa e um celular"/>
      </div>

      <div class="app-store">
        <h2 class="links-app">baixe agora</h2>
        <div class="links-app">
          <a class="links-app" href="https://play.google.com/store/apps/details?id=net.taxidigital.coocaver&hl=pt_BR&gl=US" target="_blank"><img class="links-app img01" src="/public/img/icon/play-store.svg" alt="link para baixar o palicativo na loja do google - play store"/></a>

          <a class="links-app" href="http://"><img class="links-app img02" src="/public/img/icon/app-store.svg" alt="link para baixar o palicativo na loja da apple - app store"/></a>
        </div>
      </div>

      <div class="gas-station"></div>

      <div class="img-final">
        <img src="" alt="" />
      </div>
    </section>

    <footer>
      <div class="box-contact">
        <div class="contact">
          <div class="phone">
            <p>Telefones:</p>
            <p>(54)3028.9800 - Central de Táxi</p>
            <p>(54)3211.4141 - Central de Táxi</p>
            <p>(54)3028.9700 - Administrativo</p>
          </div>
          <div class="address">
            <p>Endereço:</p>
            <p>Rua Cristóforo Randon, 887, bairro Marechal Floriano</p>
            <p>Caxias do Sul - RS</p>
          </div>
        </div>

        <div class="social-medias">
          <h2 class="social.media">Siga nossas redes sociais</h2>
          <img src="" alt="img-link-facebook" class="facebook" />
          <img src="" alt="img-link-instagram" class="instagram" />
        </div>
      </div>

      <div class="copyrigth">
        <p>Postos e Serviços Coocaver &copy; 2023</p>
      </div>
    </footer>

    <!-- FONTES IMAGENS -->
    <!-- a href=httpsbr.freepik.comfotos-gratisfoto-interna-de-mulher-feliz-e-elegante-com-brincos-e-oculos-da-moda-vestindo-um-casaco-cinza_10177903.htm#query=pessoas%20com%20celular&position=11&from_view=search&track=ais#position -->
  </body>
</html>
