<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Coocaver</title>
  </head>

<body>
    <header>
        <div class="header-banner">
          <p class="header-banner">Peça seu táxi:</p>
          <img
            class="header-phone"
            src="/public/img/icon/phone.svg"
            alt="celphone-icon"
          />
          <p class="header-banner">(54)3028.9800 &bull; (54)3211.4141</p>
          <img
            class="header-celphone"
            src="/public/img/icon/celphone.svg"
            alt="celphone-icon"
          />
          <p class="header-banner">baixe nosso aplicativo</p>
        </div>
  
        <div class="header-menu">
          <div class="logo">
            <a href="/views/home.html"
              ><img
                class="logo"
                src="/public/img/logo/logo-coocaver.png"
                alt="logo-coocaver"
            /></a>
          </div>
          <div class="menu-options">
            <a class="menu" href="/views/quem-somos.html"
              ><p class="menu">quem somos</p></a
            >
            <a class="menu" href="/views/taxi.html"
              ><p class="menu">central de táxi</p></a
            >
            <a class="menu" href="/views/posto.html"
              ><p class="menu">postos</p></a
            >
            <a class="menu" href="/views/contato.html"
              ><p class="menu">contato</p></a
            >
          </div>
        </div>
        <div class="detail"></div>
      </header>

    <section class="body-taxi">
      <h2 class="title-taxi">
        Solicite o seu téxi de forma rápida e facil!
      </h2>
      <p class="sub-title-taxi">
        Pelo telefone ou pelo aplicativo
      </p>
      <p>
        A Coocaver pussui uma central de táxi para lhe atender em qualquer hora do dia ou da noite, de domingo a domingo.
      </p>
      <p>Para usar é muito fácil</p>
      <p>Você pode solicitar uma corrida ligando para os telefones (54) 3028.9700 ou (54)3211.4141. Um de nossos atendentes irá lhe atender e fazer o encaminhamento de um táxi até o seu endereço</p>
      <p>Você também pode solicitar um táxi pelo nosso aplicativo, basta baixa-lo na loja de aplicativos do ceu celular e já sair usando.</p>

      <div class="celphone-taxi">
        <img class="app-taxi" src="/public/img/photos/app01.jpeg" alt="imagem ilustrativa do aplicativo">
        <img class="cel-taxi" src="/public/img/photos/celphone.png" alt="moldura de um celular">
      </div>
      
      
      <div class="app-store">
        <h2 class="links-app">baixe agora</h2>
        <div class="links-app">
          <a
            class="links-app"
            href="https://play.google.com/store/apps/details?id=net.taxidigital.coocaver&hl=pt_BR&gl=US"
            target="_blank"
            ><img
              class="links-app img01"
              src="/public/img/icon/play-store.svg"
              alt="link para baixar o palicativo na loja do google - play store"
          /></a>

          <a class="links-app" href="http://" target="_blank"
            ><img
              class="links-app img02"
              src="/public/img/icon/app-store.svg"
              alt="link para baixar o palicativo na loja da apple - app store"
          /></a>
        </div>
      </div>



    </section>

    <footer>

    </footer>
 
    
</body>
</html>